<!-- <div class="error404">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 mr-auto mt-5 text-md-left text-center">
              <a routerLink="/" class="ml-md-5">
                  <img alt="image-404" src="../../assets/images/dribbble_1.gif" class="theme-logo">
              </a>
          </div>
      </div>
  </div>
  <div class="container-fluid error-content">
      <div class="">
          <h1 class="error-number">404</h1>
          <p class="mini-text">Ooops!</p>
          <p class="error-text mb-4 mt-1">The page you requested was not found!</p>
          <a routerLink="/" class="btn btn-primary mt-5">Go Back</a>
      </div>
  </div>
</div> -->


<section class="page_404">
  <div class="container">
    <div class="row justify-content-center">
      <!-- <div class="col-sm-12 "> -->
        <div class="col-sm-10 ">
          <div class="four_zero_four_bg">
            <h1 class="text-center ">4
              <!-- <img [@rotatedState]='state' (@rotatedState.done)="rotate()"  src="../../assets/images/zero-g011c90f15_1280.png" alt="" style="    width: 75px;
              height: 115px;
              margin-bottom: 42px;"> -->
              <img [@rotatedState]='state' (@rotatedState.done)="rotate()" src="assets/images/number-0-zero-33774.png" alt="" style="width: 91px; height: 122px;  margin-bottom: 45px;"
             >
               4</h1>

          </div>

          <div class="position-relative">
            <div class="contant_box_404 ">
              <h3 class="h2">
                Ooops!
              </h3>

              <p>The page you requested was not found!</p>

              <a href="" class="link_404">Go to Home</a>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>


