.btn {
  box-shadow: none !important;
  outline: none !important;

  &.btn-gradiant {
    background: transparent linear-gradient(180deg, #0077AC 0%, #101F33 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    box-shadow: 0px 0px 20px #0000000D;
    border-radius: 5px;
    color: #F2F2F2;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: $font-weight-normal;

  }

  &.btn-primary {

    background: $gredient-btn;
    color: $white;
    font-size: 14px;
    font-weight: $font-weight-bold;
    padding: 8px 20px;
    border: 2px solid $white;
    // border-radius: 51px;
    border-radius: 10px;


    @include breakpoint("desktop-xxl", min) {
      font-size: 16px;

    }

    &:hover {
      background: linear-gradient(white, white) padding-box, linear-gradient(to right, $btn-grad-primary, $btn-grad-secondary) border-box;
      border: 2px solid transparent;

      color: $btn-grad-secondary;
    }

    &.back-btn {
      background: $white;
      box-shadow: 0px 3px 20px #00000029;
      border: 2px solid $btn-grad-secondary;
      color: $black;
      &:hover {
        color: $white;
        background-color: $btn-grad-secondary;
        border-color: $btn-grad-secondary;
      }
    }
  }

  &.btn-secondary {
    font-size: 14px;
    font-weight: $font-weight-normal;
    padding: 8px 10px;
    background-color: $btn-grad-secondary;
    border-color: $btn-grad-secondary;
  }

  &.btn-success {
    background-color: $secendary-color;
    box-shadow: 0px 0px 20px #0000000D;
    border-radius: 5px;
    border-color: $secendary-color;
    font-size: 14px;
    font-weight: $font-weight-semibold;
    padding: 8px 10px;
    white-space: nowrap;

    @include breakpoint("desktop-xxl", min) {
      font-size: 16px;

    }

    &:hover {
      background-color: transparent;
      color: $secendary-color;
      border-color: $secendary-color;
    }
  }

  &.btn-outline-success {
    background-color: transparent;
    box-shadow: 0px 0px 20px #0000000D;
    border-radius: 5px;
    font-size: 14px;
    font-weight: $font-weight-normal;
    padding: 8px 10px;
    white-space: nowrap;
    color: $secendary-color;

    @include breakpoint("desktop-xxl", min) {
      font-size: 16px;

    }

    &:hover {
      background-color: $secendary-color;
      color: $white;
      border-color: $secendary-color;
    }
  }

  &.btn-outline-primary {
    border-color: $btn-grad-secondary;
    font-size: 14px;
    color: $btn-grad-secondary;
    white-space: nowrap;

    @include breakpoint("desktop-xxl", min) {
      font-size: 16px;

    }

    &:hover {
      background-color: $btn-grad-secondary;
      color: $white;
    }
  }


  &.btn-warning {
    background-color: $warning-color;
    border-color: $warning-color;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #0000000D;
    color: $white;
    padding: 8px 10px;

    @include breakpoint("desktop-wide", min) {
      font-size: 16px;
      padding: 10px 30px;

    }

    &:hover {
      background-color: transparent;
      color: $warning-color;
      border-color: $warning-color;
    }
  }

  &.btn-white {
    background: $white;
    color: $secendary-color;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 15px;
    // amir ch
    // border: none;
    // amir
    box-shadow: 0px 15px 20px #00000047;
    border-radius: 23px;
    max-width: 160px;

    img {
      max-width: 20px;
      margin-left: 15px;
    }

    &:hover {
      background: $secendary-color;
      color: $white;
    }
  }
}

.syncBtn {
  color: $btn-grad-secondary;
}


.verify-btn {
  position: absolute;
  right: 10px;
  bottom: 7px;
  font-size: 14px;

  span {
    cursor: pointer;
    font-weight: 600;
  }
  i {
    pointer-events: none;
  }
}
