// .custom-tabs {
//   ul {
//     border-bottom: none;
//     margin-top: 15px;
//
//     gap: 20px;

//     li {
//       padding-right: 0px;

//       a {
//         padding: 5px;
//         border-radius: 50px !important;
//         font-weight: $font-weight-bold;
//         font-size: 14px;
//         text-transform: capitalize;
//         background: $white;
//         outline: 2px solid $primary-color;
//         color: $primary-color;

//         &:hover {
//           color: $primary-color;
//         }

//         &.my_class {
//           background: transparent linear-gradient(177deg, $primary-color 0%, $secendary-color 100%) 0% 0% no-repeat padding-box;
//           color: white !important;
//         }
//       }
//     }
//   }
// }


//amir changes
.custom-tabs {
    ul {
      // border-bottom: none;
      // margin: 0px 50px 9px 50px;
      margin: 0px auto;
      width: 100%;


      @include breakpoint('phablet', min) {
        width: 83%;
      }
      @include breakpoint('tablet', min) {
        width: 65%;
      }
      @include breakpoint('desktop-small', min) {
        width: 82%;
      }
      // gap: 20px;
      // border-bottom: 1px solid #1f2224 !important;
      li {
        padding-right: 0px;

        a {
          padding: 5px;
          // border-radius: 50px !important;
          font-weight: $font-weight-bold;
          font-size: 14px;
          text-transform: capitalize;
          background: $white;
          // border: 2px solid $primary-color;
          color: $primary-color;
        border-color: white !important;
          &:hover {
            color: $primary-color;
          }

          &.my_class {
            // background: transparent linear-gradient(177deg, $primary-color 0%, $secendary-color 100%) 0% 0% no-repeat padding-box;
            color: var(--border-color) !important;
            border-bottom: 2px solid var(--border-color) !important;
          }
        }
      }
    }
  }






.nav-pills {
  .nav-link {
    color: $white;
    margin-bottom: 10px;
    margin-right: 10px;
    background: $primary-color !important;
    //amir changes
    // padding: 6px 26px;
    // amir end
    border-radius: 8px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;

    &.active {
      background: linear-gradient(180deg, $primary-color, $secendary-color);
    }

    .show & {
      background: linear-gradient(180deg, $primary-color, $secendary-color);
    }
  }

  &.nav-fill {
    background: #FCE5E5;
    border-radius: 25px;

    .nav-link {
      border-radius: 25px;
      background-color: transparent;
      margin: 0px;
      color: $black;

      &.active {
        color: $white;
      }
    }
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;

  input {
    display: none;

    &:checked {
      +.slider {
        .live {
          transform: translate(25%, -50%);
          top: 50%;
        }

        &:before {
          background: linear-gradient(91deg, $btn-grad-primary 0%, $btn-grad-secondary 100%) 0% 0% no-repeat padding-box;
          right: 2px;
          left: auto;
          transition: all 0.2s ease-in-out;
        }

        .uat {
          transform: translate(-60%, -50%);
          top: 50%;
          right: -60%;
        }
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    transition: .4s;
    border-radius: 100px;

    &::before {
      position: absolute;
      z-index: 2;
      content: "";
      height: 26px;
      width: 26px;
      left: 2px;
      bottom: 2px;
      background: linear-gradient(91deg, $primary-color 0%, $secendary-color 100%) 0% 0% no-repeat padding-box;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
      transition: all 0.2s ease-in-out;
      border-radius: 50%;

    }


  }
  .live {
    position: absolute;
    content: "LIVE";
    font-size: 12px;
    color: $primary-color;
    transition: all 0.2s ease-in-out;
    transform: translate(-100%, -50%);
    top: 50%;
    text-transform: capitalize;
  }
  .uat {
    position: absolute;
    right: 10px;
    color: $black;
    font-size: 12px;
    cursor: pointer;
    transform: translateY(-50%);
    top: 50%;
    transition: all 0.4s ease-in-out;
    text-transform: capitalize;

  }
}
