.dropdown:not(.custom-dropdown-icon) .dropdown-menu .media {
  // background: transparent linear-gradient(177deg, $primary-color 0%, $secendary-color 100%) 0% 0% no-repeat padding-box;
  // color: $white;
  padding: 10px;
}

.dropdown:not(.custom-dropdown-icon) .dropdown-menu .media .media-body h5 {
  // color: $white;
  // font-size: 17px;
}

.dropdown:not(.custom-dropdown-icon) .dropdown-menu .media .media-body  {

  img{
    width: 100px;
    border-radius: 50%;
  }
//   margin-bottom: 10px;
//   border-bottom: 1px solid;
//  img{
//   width: 62px;
//   border-radius: 50%;
//   margin-top: 15px;
//  } 
}

.dropdown:not(.custom-dropdown-icon) .dropdown-menu .dropdown-item {
  // padding: 5px 10px;
  // cursor: pointer;
 
  // &:last-child{
  //   border-bottom: none;

  // }
}

.dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item:hover {
  // background: transparent linear-gradient(177deg, $primary-color 0%, $secendary-color 100%) 0% 0% no-repeat padding-box;
}

.dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item {
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #888ea8;
  padding: 11px 8px;
}

.dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item.active,
.dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item:active {
  background-color: transparent;
  color: #3b3f5c;
  font-weight: 700;
}

.dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item:hover {
  color: #888ea8;
  background-color: #f1f2f3;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item{
  a{
    color: $black;
    font-size: 13px;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $primary-color;
  color: $white;
}

.dropdown-menu {
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 380px !important;
}
.dropdown-menu.show {
  top: 10px !important;
  left: 0px !important;
  box-shadow: 0px 0px 2px #abaac6;
}

.top-nav {
  .navbar-item {
    justify-content: space-between;
    list-style: none;
    padding: 0;
    display: flex;
    @include breakpoint('desktop', min){
      justify-content: flex-end;
    }
  }
  .top-navleft {
    display: flex;
    align-items: center;
  }

}







.top-nav {
  .dashboard-compact & {
    left: 0px;
  }

  @include breakpoint('desktop-small', min) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

  }
}


.menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  color: $white;
  transition: .3s ease all;
  cursor: pointer;
}



.menu-toggle:hover,
.menu-toggle:active,
.menu-toggle:focus {
  text-decoration: none;
}

.menu-toggle i {
  font-size: 20px;
  // amir
  color: black;
  // amir
}

// amir cha
.superadmin_circle img {
  max-width: 50px;
  margin-top: 11px;
}
